:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: $secondary-700;//#646cff;
  text-decoration: none;//inherit;
  &:hover {
    color: $primary-700;//#535bf2;
  }
  &:disabled {
    color: $secondary-700;
    pointer-events: none;
  }
}

button {
  border: none;
}
