.cart-heading-title {
    color: $gray-900;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.5;
}
@include media-breakpoint-up(sm) {
    .cart-heading-title {
        font-size: 28px;
        margin-bottom: 24px;
        line-height: 1.2;
    }

}

.cart-qty-input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.custom-offcanvas-80 {
  height: 80vh !important;
  max-height: 80vh !important;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 24px 16px 40px 16px;
}

.billDetails {
    border: 1px solid #D2D2D2;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 32px;
}

.checkoutBtn {
    background: $primary-700;
    color: #fff;
    border-radius: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    &:hover {
        background: $primary-900;
        color: #fff;
    }
    &:disabled {
        color: #fff;
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            background: $primary-700;
            color: #fff;
        }
    }
}

.recipientBtn {
    background: #fff;
    color: $primary-500;
    border: 2.5px solid $primary-500;
    border-radius: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    &:hover {
        background: $primary-50;
        color: $primary-500;
    }
}