.cart-heading-title {
    color: $gray-900;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.5;
}
@include media-breakpoint-up(sm) {
    .cart-heading-title {
        font-size: 28px;
        margin-bottom: 24px;
        line-height: 1.2;
    }

}

.btn-apply-coupon {
    --bs-btn-active-bg: #{$white};
    --bs-btn-active-color: #{$primary-700};
    --bs-btn-active-border-color: #{$primary-300};
    background: $white;
    color: $primary-600;
    border: 1px solid $primary-200;
    border-radius: 8px;
    font-size: $font-size-sm;
    white-space: nowrap;
    &:hover {
        background: $white;
        color: $primary-700;
        border-color: $primary-300;
    }
}

.btn-coupon {
    --bs-btn-active-bg: #{$secondary-50};
    --bs-btn-active-color: #{$secondary-700};
    --bs-btn-active-border-color: var(--bs-border-color);
    background: $white;
    color: $secondary-700;
    border: 1px solid var(--bs-border-color);
    white-space: nowrap;
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
    &:hover {
        background: $secondary-50;
        color: $secondary-700;
        border-color: var(--bs-border-color);
    }
}

.cart-qty-input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.custom-offcanvas-80 {
  height: 80vh !important;
  max-height: 80vh !important;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 24px 16px 40px 16px;
}

.billDetails {
    border: 1px solid $gray-200;
}
