// ===== Brand Color =====
$primary-color: #d9577e;
$primary-hover: #c94b70;

$bg-color: #f6f2f3;

$text-dark: #333;
$text-gray: #666;


// ===== Auth Page =====
.auth-wrapper {
  min-height: 100vh;
  padding: 20px;
  background: $gray-100;

  display: flex;
  align-items: center;
  justify-content: center;
}


// ===== Card =====
.auth-card {
  width: 100%;
  max-width: 420px;
  border-radius: 14px;

  .card-body {
    padding: 32px;
  }
}


// ===== Title =====
.auth-title {
  font-weight: 700;
  color: $primary-700;
}


// ===== Form =====
.form-label {
  font-size: 14px;
  color: $text-gray;
}


// ===== Button =====
.auth-btn {
  background: $primary-700;
  color: #fff;
  border-radius: 0px;
  padding-top: 18px;
  padding-bottom: 18px;

  &:hover {
    background: $primary-900;
    color: #fff;
  }

  &:disabled {
    color: #fff;
    opacity: 0.5;
  }
}


// ===== Switch Link =====
.auth-switch {
  color: $primary-700;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}


// =============================
// Responsive
// =============================

// Tablet（< 768px）
@include media-breakpoint-down(md) {

  .auth-card {
    max-width: 380px;
  }

  .auth-title {
    font-size: 32px;
  }

}


// Mobile（< 576px）
@include media-breakpoint-down(sm) {

  .auth-wrapper {
    padding: 16px;
  }

  .auth-card {
    border-radius: 12px;

    .card-body {
      padding: 20px;
    }
  }

  .auth-title {
    font-size: 28px;
  }

  .form-control {
    padding: 12px;
  }

  .auth-btn {
    padding: 12px;
  }

}