.main-content-title {
  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    align-self: stretch; // 填滿父元素高度
    background-color: $primary-700;
  }
}

// 移除 Bootstrap 預設小箭頭
.dropdown-toggle::after {
    display: none;
}

// 導覽連結、下拉選項Hover
.app-dropdown,
.material-dropdown,
nav .nav-link,
.sort-dropdown-btn {
  transition: color 0.2s ease;

  // 按鈕
  .dropdown-toggle,
  &.nav-link {
    &:hover,
    &.show {
      color: $primary-700 !important;
      background-color: transparent;
    }
  }

  // 下拉選項文字
  .dropdown-item {
    font-weight: 600;
    &:hover {
      background-color: transparent;
      color: $primary-700;
    }
  }
}

// 預設排序
.app-dropdown {
  .dropdown-menu {
    border: 1px solid $primary-100 !important;
    box-shadow: none;
    padding: 8px 0;
  }

  .btn {
    font-weight: 700;
    &:focus { box-shadow: none; }
  }
}

// Sidebar 手風琴 (目前只有材料下拉區塊)
.sidebar-accordion {
  &__toggle {
    border: none;
    background: transparent;
    color: $secondary-700;

    &:hover,
    &:focus {
      color: $primary-700;
      background-color: transparent;
    }
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.5rem 0.5rem 40px;

    &:hover {
      color: $primary-700;
    }
  }
}
