.main-content-title {
  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    align-self: stretch; // 填滿父元素高度
    background-color: $primary-700;
  }
}

// 移除 Bootstrap 預設小箭頭
.dropdown-toggle::after {
    display: none;
}

// 導覽連結、下拉選項Hover
.app-dropdown,
.material-dropdown,
nav .nav-link,
.sort-dropdown-btn {
  transition: color 0.2s ease;

  // 按鈕
  .dropdown-toggle,
  &.nav-link {
    &:hover,
    &.show {
      color: $primary-700 !important;
      background-color: transparent;
    }
  }

  // 下拉選項文字
  .dropdown-item {
    font-weight: 600;
    &:hover {
      background-color: transparent;
      color: $primary-700;
    }
  }
}

// 預設排序
.app-dropdown {
  .dropdown-menu {
    border: 1px solid $primary-100 !important;
    box-shadow: none;
    padding: 8px 0;
  }

  .btn {
    font-weight: 700;
    &:focus { box-shadow: none; }
  }
}

//材料下拉選單
.material-dropdown {
  .dropdown-menu {
    border: none;
    box-shadow: none;

  a.dropdown-item {
      padding-left: 48px;
    }
  }

  .nav-link.dropdown-toggle {
    border: none;
  }
}

//左側選單文字
nav .nav-link,
.sort-dropdown-btn {
  color: $secondary-700;
  font-weight: 700;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: $primary-700;
    text-decoration: none;
  }
}

//材料下拉標題
.material-dropdown .nav-link.dropdown-toggle {
  color: $secondary-700;

  &:hover,
  &:focus {
    color: $primary-700;
  }
}